@charset "UTF-8";

/* GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins&display=swap');

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 ul, li {
  list-style: none;
 }

 a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

 .header {
  width: 100%;
  height: 100vh;
  background: url(../img/main.jpg) no-repeat center bottom;
  background-size: cover;
  padding-top: 260px;
  text-align: center;
  >h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    color: #1d4709;
    margin-bottom: 10px;
  }
  >p {
    font-size: 24px;
    letter-spacing: .1em;
  }
 }
 
/* プロファイルページ(profile)の h1 */
 .profile {
  .header>h1 {
    color: rgb(152, 216, 190);
    text-shadow: 3px 4px 2px rgba(255, 254, 254, 0.4);
  }
 }

/* 習作ページ(works)の h1 */
.works {
  .header>h1 {
    color: #092147;
  }
}
/* バナーページ(images)の h1 */
.images {
  .header>h1 {
    color: #473d09;
  }
}
.gnav {
  width: 100%;
  height: auto;
  position: fixed;
  height: 80px;
  top: 0;
  right: 0;
  > ul {
    width: 100%; /* positioを入れるときは幅は必要; */
    height: 80px;
    display: flex;
    justify-content: center;
    >li {
      height: 60px;
      margin-bottom: 10px;
      >a {
        display: block;
        padding: 0 30px;
        text-align: center;
        line-height: 80px;
        font-size: 32px;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        &:hover {
          color: rgb(173, 245, 216);
        }
      }
    }
  }
}

/* プロファイルページ(profile)のナビゲーション */
.profile{
  >.gnav a {
    color:#47093d;
    &:hover {
      color:#b01796;
    }
  }
}
/* 習作ページ(works)のナビゲーション */
.works{
  >.gnav a {
    color:#092147;
    &:hover {
      color:#1855b7;
    }
  }
}
/* バナーページ(images)のナビゲーション */
.images{
  >.gnav a {
    color:#473d09;
    &:hover {
      color:#978214;
    }
  }
}